@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('./nature.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.search_container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#user_input{
    padding: 10px 50px 10px 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
}

#search{
    color: gray;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.wheather_details_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #ffffff;
    text-align: center;
}

.description_container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
